.text-primary {
    color: #00274D !important;
}
a.search_partner_btn{
    background-image: url(../img/user-avatar.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 11% center;
    padding-left: 32px;
    padding-right: 10px;
}
.search_partner.nav-btn{
    justify-content: start;
}
.search_partner.nav-btn a{
    margin-left: 0px !important;
    padding-left: 40px;
    padding-right: 15px;
}
.logo-text{
    font-weight: 700;
}
.search_partner_btn{
    background-color:#00274D ;
    color: white;
}
.login_signup_btn {
    background-color: #00274D;
    color: white;
    padding-inline: 20px;
}
.login_signup.nav-btn {
    justify-content: end;
}
.nav-bar .navbar-light .navbar-brand img {
    padding-right: 10px;
}
.profile_icon_carousel{
    padding-right: 6px;
}
.learn_more_carousel{
    background-color: #00274D;
    border: 1px solid white !important;
}
.header-carousel-item{
    background-color:#002e60 !important;
}
.feature-item h4{
    font-size: 1.4rem;
}
.feature .feature-item:hover {
    background-color: #16406a;
}
.btn-primary {
    background-color: #16406a;
}
.faq-section .accordion .accordion-item .accordion-header .accordion-button {
    background-color: #16406a;
}
.faq-section .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    color: #16406a;
}
.footer_logo{
    width: 75px;
}
.navbar-collapse .search_partner.nav-btn {
    padding-bottom: 20px;
}